<network>
  <name>default</name>
  <bridge name="virbr0" />
  <forward/>
  <ip address="{{ default_ip_prefix }}.1" netmask="255.255.255.0">
    <dhcp>
      <range start="{{ default_ip_prefix }}.2" end="{{ default_ip_prefix }}.254" />
    </dhcp>
  </ip>
</network>
