[local]
localhost

{% for group in groups %}
{% set outer_loop = loop %}
{% if group in ['foreman', 'controller', 'compute', 'networker'] %}

[{{ group }}]
{% for host in groups[group] %}
{{ hostvars[host]['inventory_hostname_short'] }} ansible_ssh_host={{ hostvars[host]['ansible_ssh_host'] }} public_ip={{ hostvars[host]['ansible_ssh_host'] }} fqdn={{ hostvars[host]['inventory_hostname_short'] }}.example.com priv_hostname={{ hostvars[host]['inventory_hostname_short'] }}.example.com foreman_private_ip=192.168.200.{{ outer_loop.index0 }}{{ loop.index0 }} foreman_public_ip=192.168.201.{{ outer_loop.index0 }}{{ loop.index0 }} ansible_ssh_private_key_file=/root/.ssh/id_rsa

{% endfor %}
{% endif %}
{% endfor %}


[tempest:children]
controller

[foreman_installer:children]
{% for group in groups %}
{% if group not in ['clients', 'init', 'beaker', 'all', 'ungrouped'] %}
{{ group }}
{% endif %}
{% endfor %}

[foreman_node:children]
{% for group in groups %}
{% if group not in ['clients', 'init', 'beaker', 'all', 'ungrouped', 'foreman' ] %}
{{ group }}
{% endif %}
{% endfor %}
